/* Importing tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alert Styling */
.errorAlert {
  position: fixed;
  top: 17%;
  right: 20px;
  animation: slide-in-out 2s ease-in-out forwards;
  transform: translateX(110%);
  z-index: 999;
}

.alertMessage {
  position: fixed;
  top: 17%;
  right: 20px;
  animation: slide-in-out 2s ease-in-out forwards;
  transform: translateX(110%);
  z-index: 999;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

/* Animation for alert styling */
@keyframes slide-in-out {
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}
